# Server Configuration
PORT=8080

# Database Configuration (SQL Server)
DB_HOST=localhost
DB_PORT=1433
DB_NAME=rehab_center_db
DB_USERNAME=sa
DB_PASSWORD=123456

# Security & JWT Configuration
# Key must be at least 256 bits (32 bytes) Base64 encoded
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
# 1 day in milliseconds
JWT_EXPIRATION=86400000

# Cloudinary (https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=sdf
CLOUDINARY_API_KEY=sdf
CLOUDINARY_API_SECRET=sdf
CLOUDINARY_HANDOVER_DECISION_FOLDER=rehab-center/handover-decisions
